* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
}

div#root {
  padding: 10px;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translateX(-50%);
}

h1 {
  font-size: 2rem;
}

.navigate {
  margin: 20px 0;
}

label {
  display: block;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}